body{
	margin: 0;
    font-family: sans-serif;
    background-color: #282828;
}
.wraper{
	width: 1170px;
	margin: auto;

}
img{
	width: 100%;
	height: 100%
}
.m-header{
	width: 100%;
    height: 45px;
	padding-top: 20px;
    background-color: white;
}
.logo-img{
	width: 33%;
	float: left;
}
.logo{
	width: 70px;
	height: 45px;
	float: left;

}
.search{
	float: left;
	position: relative;
	width: 33%;
}
.search input{
	float: left;
	width: 270px;
	height: 30px;
}
.search-icon{
	position: absolute;
	width: 50px;
	height: 30px;
	float: left;
	right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 5px;
    left: 235px;
}
.shoping-cart{
	width: 30%;
    float: left;
    padding-left: 46px;
}
.shoping-icon{
	position: relative;
    width: 35px;
    height: 30px;
    background-color: #5ab210;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    float: left;
}
.shoping-icon a{
    color: white;
}
.cart-text{
	position: absolute;
    top: 10px;
    right: 400px;
    width: 15px;
    height: 15px;
    background-color: red;
    color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5ab210;
}
.cart-text2{
    float: left;
    font-size: 12px;
    margin: -10px 0px 0px 10px;
}
.catagory-menu{
    width: 100%;
    height: 50px;
    background-color: black;
}
.catagory{
    float: left;
    width: 10%;
    height: 48px;
    border-bottom: none;
    margin-left: 70px;
}
.catagory-text{
    float: left;
    font-size: 20px;
    color: white;
    margin: -12px 0px 0px 15px;
}
.catagory-icon{
    padding: 20px 0px 0px 6px;
    float: left;
    color: white;
}
.catagory:hover{
    background-color: #5e5e5e;
    border-bottom: 2px solid #5ab210;
}
.menu{
    float: right;
    width: 70%;
    height:50px;
}
.menu ul{
    list-style: none;
}
.menu li{
    display: inline-block;
}
.menu li a{
    text-decoration: none;
    color: white;
    margin-left: 100px;
    padding: 16px 15px 17px 10px;
}
.menu a:hover{
    background-color: #5e5e5e;
}
.hero-m{
    width: 100%;
    height: 320px;
    background-image: url(../img/01_HOME.jpg);
    background-size: 100% 100%;
}
.hero-text{
   width: 40%;
    height: 200px;
    padding: 20px 0px 0px 150px;
}
.hero-text h1{
    color: white;
    font-size: 65px;
}
.hero-text p{
    color: white;
}
.battun{
    position: absolute;
    width: 105px;
    height: 25px;
    background-color: #5ab210;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 385px;
    left: 360px;
}
.battun a{
    color: white;
    text-decoration: none;
}
.offer{
    width: 100%;
    height: 260px;
    background-color: white;
}
.offer-m{
    width: 40%;
    height: 200px;
    background-image: url(../img/01_HOME-Recovered.jpg);
    float: left;
    margin-left: 75px;
    margin-top: 30px;
}
.offer-img1{
    width: 30%;
    height: 100px;
}
.offer-img1 img{
    margin: 80px 0px 0px 260px;
}
.offer-text{
    margin: -30px 0px 0px 20px;
}
.offer-text h5{
    color: white;
    font-size: 20px;
    line-height: 0px;
}
.offer-text p{
    color: white;
    font-size: 15px;
    line-height: 0px;
}
.popular-prodact-m{
    width: 100%;
    height: 430px;
    background-color: white;
    padding-top: 20px;
}
.popular-prodact-m h3{
    padding-left: 65px;
}
.popular-img{
    width: 17%;
    height: 337px;
    float: left;
    margin-right: 50px;
    margin-left: 43px;
    transition: all 0.05s;
    position: relative;
    margin-top: 20px;
}
.popular-img img{
    width: 75%;
    height: 215px;
    padding: 15px 0px 0px 25px;
}
.popular-img h5{
    text-align: center;
    color: #747474;
    line-height: 0;
}
.popular-img p{
    text-align: center;
    color: #5ab210;
    line-height: 0;
}
.popular-img:hover{
    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.14);
    transform: scale(1.05);
}
.p-icon{
    position: absolute;
    display: none;
}
.p-icon a{
    float: left;
    color: white;
}
.fa-cart-plus{
    background-color: #5ab210;
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 25px;
    padding: 10px 0px 0px 10px;
    border-radius: 5px;
    display: none;
}
.fa-gratipay{
    background-color: #5ab210;
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 30px;
    padding: 10px 0px 0px 10px;
    border-radius: 5px;
    display: none;
}
.fa-recycle{
    background-color: #5ab210;
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 30px;
    padding: 10px 0px 0px 10px;
    border-radius: 5px;
    display: none;
}
.popular-img:hover .p-icon{
    display: block;
}
.contain-m{
    width: 100%;
    height: 124px;
    background-color: #ececec;
}
.contain1{
    width: 18%;
    height: 78px;
    padding: 45px 0px 0px 64px;
    float: left;
}
.fa-icon{
    float: left;
    width: 50px;
    height: 44px;
    border: 1px solid #5ab210;
    border-radius: 5px;
    margin-right: 10px;
}
.fa-american-sign-language-interpreting{
    margin: 13px 0px 0px 14px;
    color: #5ab210;
}
.fa-car{
      margin: 13px 0px 0px 14px;
    color: #5ab210;
}
.fa-shield{
      margin: 13px 0px 0px 14px;
    color: #5ab210;
}
.fa-life-ring{
      margin: 13px 0px 0px 14px;
    color: #5ab210;
}
.contain1 h5{
    color: #777777;
    margin: 0;
}
.contain1 p{
    color: #777777;
    font-size: 12px;
    line-height: 0;
}
.sale{
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #5ab210;
    border-radius: 25px;
    top: 0;
}
.sale p{
    color: white;
}
.backgaround-m{
    width: 100%;
    height: 150px;
    background-image: url(../img/01_HOME13.jpg);
    position: relative;
}
.backgaround img{
    width: 10%;
    height: auto;
    margin: 10px 0px 0px 60px;
    transition: all 0.5s ease;
    position: relative;
}
.backgaround img:hover{
    transform: scale(1.05);
}
.backgaround-m:before{
    content: "";
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.star-m{
    width: 100%;
    height: 470px;
    background-color: white;
}
.best-selling{
    width: 29%;
    height: 465px;
    margin-left: 50px;
    float: left;
}
.best-selling h4{
    margin-bottom: 45px
}
.star-img{
    width: 90%;
    height: 110px;
    background-color: #fafafa;
    border: 1px solid #d9d9d9;
    margin-top: 20px;
}
.w-img{
    width: 30%;
    height: 100px;
    float: left;
    margin: 5px 20px 0px 25px;
}
.s-text{
    float: left;
    width: 55%;
    height: 100px;
}
.s-text h5{
    font-size: 13px;
    line-height: 0;
    color: #c5c5c5;
}
.s-text img{
    width: 55%;
    height: 20px;
}
.s-text p{
    line-height: 0;
    color: #5ab210;
    font-size: 13px;
}
.subscribe-m{
    width: 100%;
    height: 90px;
    background-color: #5ab210;
}
.sub-text{
    float: left;
    color: white;
    margin: 30px 0px 0px 165px;
}
.sub-bar{
    float: left;
    width: 250px;
    height: 30px;
    margin: 40px 0px 0px 100px;
}
.sub-bar input{
    width: 250px;
    height: 26px;
    border: 1px solid white;
    background-color: #5ab210;
}
.sub-box{
    width: 100px;
    height: 30px;
    float: left;
    background-color: white;
    margin-top: 40px;
}
.sub-box a{
    text-decoration: none;
    color: #707070;
}
.sub-box p{
    margin: 6px 0px 0px 10px;
}
.footer-m{
    width: 100%;
    height: 250px;
    background-color: #404040;
}
.about{
    width: 31%;
    height: 220px;
    float: left;
}
.information{
    width: 31%;
    height: 220px;
    float: left;
}
.contact{
    width: 31%;
    height: 220px;
    float: left;
}
.about h3,.information h3,.contact h3{
    color: #8e8e8e;
}
.about p,.contact p{
    color: #9f9f9f;
}
.about,.information,.contact{
    padding: 25px 0px 0px 27px;
}
.information ul{
    list-style: none;
    color: #8e8e8e;
}
.information a{
    text-decoration: none;
    color: #8e8e8e;
}
.information h3{
    padding-left: 40px;
}